<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />
</head>

<body>
    <main class="page-center">
        <section class="stack">
            <h1 class="welcome-enter welcome-title">
                Смотрите <span class="marker">крайний срок</span><br />
                сдачи предметов
            </h1>
            <p class="text-hint welcome-enter welcome-subtitle">
                Сохраните время просматривая задания в один клик. Быстро. Просто.
                Удобно.
            </p>
            <a class="btn-secondary white-text btn-link welcome-enter welcome-cta" href="/login">Взяться за
                голову</a>
        </section>
    </main>
</body>

</html>